@charset "UTF-8";
/* Supremo */
@import url(http://fonts.googleapis.com/css?family=Neuton:400,400italic);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@-webkit-keyframes pulse { 0% { -webkit-transform: scale(1); }
  50% { -webkit-transform: scale(1.1); }
  100% { -webkit-transform: scale(1); } }
@keyframes pulse { 0% { -webkit-transform: scale(1); transform: scale(1); }
  50% { -webkit-transform: scale(1.1); transform: scale(1.1); }
  100% { -webkit-transform: scale(1); transform: scale(1); } }
.pulse { -webkit-animation-name: pulse; animation-name: pulse; }

@-webkit-keyframes fadeInUp { 0% { opacity: 0; -webkit-transform: translateY(20px); }
  100% { opacity: 1; -webkit-transform: translateY(0); } }
@keyframes fadeInUp { 0% { opacity: 0; -webkit-transform: translateY(20px); transform: translateY(20px); }
  100% { opacity: 1; -webkit-transform: translateY(0); transform: translateY(0); } }
.fadeInUp { -webkit-animation-name: fadeInUp; animation-name: fadeInUp; }

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/** 1. Set default font family to sans-serif. 2. Prevent iOS text size adjust after orientation change, without disabling user zoom. */
html { font-family: sans-serif; /* 1 */ -ms-text-size-adjust: 100%; /* 2 */ -webkit-text-size-adjust: 100%; /* 2 */ }

/** Remove default margin. */
body { margin: 0; }

/* HTML5 display definitions ========================================================================== */
/** Correct `block` display not defined for any HTML5 element in IE 8/9. Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox. Correct `block` display not defined for `main` in IE 11. */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

/** 1. Correct `inline-block` display not defined in IE 8/9. 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera. */
audio, canvas, progress, video { display: inline-block; /* 1 */ vertical-align: baseline; /* 2 */ }

/** Prevent modern browsers from displaying `audio` without controls. Remove excess height in iOS 5 devices. */
audio:not([controls]) { display: none; height: 0; }

/** Address `[hidden]` styling not present in IE 8/9/10. Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22. */
[hidden], template { display: none; }

/* Links ========================================================================== */
/** Remove the gray background color from active links in IE 10. */
a { background-color: transparent; }

/** Improve readability when focused and also mouse hovered in all browsers. */
a:active, a:hover { outline: 0; }

/* Text-level semantics ========================================================================== */
/** Address styling not present in IE 8/9/10/11, Safari, and Chrome. */
abbr[title] { border-bottom: 1px dotted; }

/** Address style set to `bolder` in Firefox 4+, Safari, and Chrome. */
b, strong { font-weight: bold; }

/** Address styling not present in Safari and Chrome. */
dfn { font-style: italic; }

/** Address variable `h1` font-size and margin within `section` and `article` contexts in Firefox 4+, Safari, and Chrome. */
h1 { font-size: 2em; margin: 0.67em 0; }

/** Address styling not present in IE 8/9. */
mark { background: #ff0; color: #000; }

/** Address inconsistent and variable font size in all browsers. */
small { font-size: 80%; }

/** Prevent `sub` and `sup` affecting `line-height` in all browsers. */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

/* Embedded content ========================================================================== */
/** Remove border when inside `a` element in IE 8/9/10. */
img { border: 0; }

/** Correct overflow not hidden in IE 9/10/11. */
svg:not(:root) { overflow: hidden; }

/* Grouping content ========================================================================== */
/** Address margin not present in IE 8/9 and Safari. */
figure { margin: 1em 40px; }

/** Address differences between Firefox and other browsers. */
hr { box-sizing: content-box; height: 0; }

/** Contain overflow in all browsers. */
pre { overflow: auto; }

/** Address odd `em`-unit font size rendering in all browsers. */
code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

/* Forms ========================================================================== */
/** Known limitation: by default, Chrome and Safari on OS X allow very limited styling of `select`, unless a `border` property is set. */
/** 1. Correct color not being inherited. Known issue: affects color of disabled elements. 2. Correct font properties not being inherited. 3. Address margins set differently in Firefox 4+, Safari, and Chrome. */
button, input, optgroup, select, textarea { color: inherit; /* 1 */ font: inherit; /* 2 */ margin: 0; /* 3 */ }

/** Address `overflow` set to `hidden` in IE 8/9/10/11. */
button { overflow: visible; }

/** Address inconsistent `text-transform` inheritance for `button` and `select`. All other form control elements do not inherit `text-transform` values. Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera. Correct `select` style inheritance in Firefox. */
button, select { text-transform: none; }

/** 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and `video` controls. 2. Correct inability to style clickable `input` types in iOS. 3. Improve usability and consistency of cursor style between image-type `input` and others. */
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; /* 2 */ cursor: pointer; /* 3 */ }

/** Re-set default cursor for disabled elements. */
button[disabled], html input[disabled] { cursor: default; }

/** Remove inner padding and border in Firefox 4+. */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/** Address Firefox 4+ setting `line-height` on `input` using `!important` in the UA stylesheet. */
input { line-height: normal; }

/** It's recommended that you don't attempt to style these elements. Firefox's implementation doesn't respect box-sizing, padding, or width.  1. Address box sizing set to `content-box` in IE 8/9/10. 2. Remove excess padding in IE 8/9/10. */
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ }

/** Fix the cursor style for Chrome's increment/decrement buttons. For certain `font-size` values of the `input`, it causes the cursor style of the decrement button to change from `default` to `text`. */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

/** 1. Address `appearance` set to `searchfield` in Safari and Chrome. 2. Address `box-sizing` set to `border-box` in Safari and Chrome (include `-moz` to future-proof). */
input[type="search"] { -webkit-appearance: textfield; /* 1 */ /* 2 */ box-sizing: content-box; }

/** Remove inner padding and search cancel button in Safari and Chrome on OS X. Safari (but not Chrome) clips the cancel button when the search input has padding (and `textfield` appearance). */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/** Define consistent border, margin, and padding. */
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

/** 1. Correct `color` not being inherited in IE 8/9/10/11. 2. Remove padding so people aren't caught out if they zero out fieldsets. */
legend { border: 0; /* 1 */ padding: 0; /* 2 */ }

/** Remove default vertical scrollbar in IE 8/9/10/11. */
textarea { overflow: auto; }

/** Don't inherit the `font-weight` (applied by a rule above). NOTE: the default cannot safely be changed in Chrome and Safari on OS X. */
optgroup { font-weight: bold; }

/* Tables ========================================================================== */
/** Remove most spacing between table cells. */
table { border-collapse: collapse; border-spacing: 0; }

td, th { padding: 0; }

.clearfix:after, .header__nav:after { content: ""; display: table; clear: both; }

/*------------------------------------*\ $GRIDS
\*------------------------------------*/
/** CONTENTS INTRODUCTION.........How the grid system works. VARIABLES............Your settings. MIXINS...............Library mixins. GRID SETUP...........Build the grid structure. WIDTHS...............Build our responsive widths around our breakpoints. PUSH.................Push classes. PULL.................Pull classes. */
/*------------------------------------*\ $INTRODUCTION
\*------------------------------------*/
/** csswizardry grids provides you with widths to suit a number of breakpoints designed around devices of a size you specify. Out of the box, csswizardry grids caters to the following types of device:  palm     --  palm-based devices, like phones and small tablets lap      --  lap-based devices, like iPads or laptops portable --  all of the above desk     --  stationary devices, like desktop computers regular  --  any/all types of device  These namespaces are then used in the library to give you the ability to manipulate your layouts based around them, for example:  <div class="grid__item  one-whole  lap--one-half  desk--one-third">  This would give you a grid item which is 100% width unless it is on a lap device, at which point it become 50% wide, or it is on a desktop device, at which point it becomes 33.333% width.  csswizardry grids also has push and pull classes which allow you to nudge grid items left and right by a defined amount. These follow the same naming convention as above, but are prepended by either `push--` or `pull--`, for example:  `class="grid__item  one-half  push--one-half"`  This would give you a grid item which is 50% width and pushed over to the right by 50%.  All classes in csswizardry grids follow this patten, so you should fairly quickly be able to piece together any combinations you can imagine, for example:  `class="grid__item  one-whole  lap--one-half  desk--one-third  push--desk--one-third"`  `class="grid__item  one-quarter  palm--one-half  push--palm--one-half"`  `class="grid__item  palm--one-third  desk--five-twelfths"` */
/*------------------------------------*\ $VARIABLES
\*------------------------------------*/
/** If you are building a non-responsive site but would still like to use csswizardry-grids, set this to ‘false’: */
/** Is this build mobile first? Setting to ‘true’ means that all grids will be 100% width if you do not apply a more specific class to them. */
/** Set the spacing between your grid items. */
/** Would you like Sass’ silent classes, or regular CSS classes? */
/** Would you like push and pull classes enabled? */
/** Would you like to use 'float: left' instead of 'display: inline-block'? */
/** Using `inline-block` means that the grid items need their whitespace removing in order for them to work correctly. Set the following to true if you are going to achieve this by manually removing/commenting out any whitespace in your HTML yourself.  Setting this to false invokes a hack which cannot always be guaranteed, please see the following for more detail:  github.com/csswizardry/csswizardry-grids/commit/744d4b23c9d2b77d605b5991e54a397df72e0688 github.com/csswizardry/inuit.css/issues/170#issuecomment-14859371 */
/** Define your breakpoints. The first value is the prefix that shall be used for your classes (e.g. `.palm--one-half`), the second value is the media query that the breakpoint fires at. */
/** Define which namespaced breakpoints you would like to generate for each of widths, push and pull. This is handy if you only need pull on, say, desk, or you only need a new width breakpoint at mobile sizes. It allows you to only compile as much CSS as you need. All are turned on by default, but you can add and remove breakpoints at will.  Push and pull shall only be used if `$push` and/or `$pull` and `$responsive` have been set to ‘true’. */
/** You do not need to edit anything from this line onward; csswizardry-grids is good to go. Happy griddin’! */
/*------------------------------------*\ $MIXINS
\*------------------------------------*/
/** These mixins are for the library to use only, you should not need to modify them at all.  Enclose a block of code with a media query as named in `$breakpoints`. */
/** Drop relative positioning into silent classes which can’t take advantage of the `[class*="push--"]` and `[class*="pull--"]` selectors. */
/*------------------------------------*\ $GRID SETUP
\*------------------------------------*/
/** 1. Allow the grid system to be used on lists. 2. Remove any margins and paddings that might affect the grid system. 3. Apply a negative `margin-left` to negate the columns’ gutters. */
.grid { list-style: none; /* [1] */ margin: 0; /* [2] */ padding: 0; /* [2] */ margin-left: -24px; /* [3] */ }

/** 1. Cause columns to stack side-by-side. 2. Space columns apart. 3. Align columns to the tops of each other. 4. Full-width unless told to behave otherwise. 5. Required to combine fluid widths and fixed gutters. */
.grid__item { float: left; padding-left: 24px; /* [2] */ vertical-align: top; /* [3] */ width: 100%; /* [4] */ /* [5] */ /* [5] */ box-sizing: border-box; /* [5] */ }
.grid__item else { display: inline-block; /* [1] */ }

/** Reversed grids allow you to structure your source in the opposite order to how your rendered layout will appear. Extends `.grid`. */
.grid--rev { direction: rtl; text-align: left; }
.grid--rev > .grid__item { direction: ltr; text-align: left; }

/** Gutterless grids have all the properties of regular grids, minus any spacing. Extends `.grid`. */
.grid--full { margin-left: 0; }
.grid--full > .grid__item { padding-left: 0; }

/** Align the entire grid to the right. Extends `.grid`. */
.grid--right { text-align: right; }
.grid--right > .grid__item { text-align: left; }

/** Centered grids align grid items centrally without needing to use push or pull classes. Extends `.grid`. */
.grid--center { text-align: center; }
.grid--center > .grid__item { text-align: left; }

/** Align grid cells vertically (`.grid--middle` or `.grid--bottom`). Extends `.grid`. */
.grid--middle > .grid__item { vertical-align: middle; }

.grid--bottom > .grid__item { vertical-align: bottom; }

/** Create grids with narrower gutters. Extends `.grid`. */
.grid--narrow { margin-left: -12px; }
.grid--narrow > .grid__item { padding-left: 12px; }

/** Create grids with wider gutters. Extends `.grid`. */
.grid--wide { margin-left: -48px; }
.grid--wide > .grid__item { padding-left: 48px; }

/*------------------------------------*\ $WIDTHS
\*------------------------------------*/
/** Create our width classes, prefixed by the specified namespace. */
/** Our regular, non-responsive width classes. */
/** Whole */
.one-whole { width: 100%; }

/** Halves */
.one-half, .two-quarters, .three-sixths, .four-eighths, .five-tenths, .six-twelfths { width: 50%; }

/** Thirds */
.one-third, .two-sixths, .four-twelfths { width: 33.333%; }

.two-thirds, .four-sixths, .eight-twelfths { width: 66.666%; }

/** Quarters */
.one-quarter, .two-eighths, .three-twelfths { width: 25%; }

.three-quarters, .six-eighths, .nine-twelfths { width: 75%; }

/** Fifths */
.one-fifth, .two-tenths { width: 20%; }

.two-fifths, .four-tenths { width: 40%; }

.three-fifths, .six-tenths { width: 60%; }

.four-fifths, .eight-tenths { width: 80%; }

/** Sixths */
.one-sixth, .two-twelfths { width: 16.666%; }

.five-sixths, .ten-twelfths { width: 83.333%; }

/** Eighths */
.one-eighth { width: 12.5%; }

.three-eighths { width: 37.5%; }

.five-eighths { width: 62.5%; }

.seven-eighths { width: 87.5%; }

/** Tenths */
.one-tenth { width: 10%; }

.three-tenths { width: 30%; }

.seven-tenths { width: 70%; }

.nine-tenths { width: 90%; }

/** Twelfths */
.one-twelfth { width: 8.333%; }

.five-twelfths { width: 41.666%; }

.seven-twelfths { width: 58.333%; }

.eleven-twelfths { width: 91.666%; }

/** Our responsive classes, if we have enabled them. */
@media only screen and (max-width: 599px) { /** Whole */
  .palm--one-whole { width: 100%; }
  /** Halves */
  .palm--one-half, .palm--two-quarters, .palm--three-sixths, .palm--four-eighths, .palm--five-tenths, .palm--six-twelfths { width: 50%; }
  /** Thirds */
  .palm--one-third, .palm--two-sixths, .palm--four-twelfths { width: 33.333%; }
  .palm--two-thirds, .palm--four-sixths, .palm--eight-twelfths { width: 66.666%; }
  /** Quarters */
  .palm--one-quarter, .palm--two-eighths, .palm--three-twelfths { width: 25%; }
  .palm--three-quarters, .palm--six-eighths, .palm--nine-twelfths { width: 75%; }
  /** Fifths */
  .palm--one-fifth, .palm--two-tenths { width: 20%; }
  .palm--two-fifths, .palm--four-tenths { width: 40%; }
  .palm--three-fifths, .palm--six-tenths { width: 60%; }
  .palm--four-fifths, .palm--eight-tenths { width: 80%; }
  /** Sixths */
  .palm--one-sixth, .palm--two-twelfths { width: 16.666%; }
  .palm--five-sixths, .palm--ten-twelfths { width: 83.333%; }
  /** Eighths */
  .palm--one-eighth { width: 12.5%; }
  .palm--three-eighths { width: 37.5%; }
  .palm--five-eighths { width: 62.5%; }
  .palm--seven-eighths { width: 87.5%; }
  /** Tenths */
  .palm--one-tenth { width: 10%; }
  .palm--three-tenths { width: 30%; }
  .palm--seven-tenths { width: 70%; }
  .palm--nine-tenths { width: 90%; }
  /** Twelfths */
  .palm--one-twelfth { width: 8.333%; }
  .palm--five-twelfths { width: 41.666%; }
  .palm--seven-twelfths { width: 58.333%; }
  .palm--eleven-twelfths { width: 91.666%; } }
@media only screen and (max-width: 480px) { /** Whole */
  .feature--one-whole { width: 100%; }
  /** Halves */
  .feature--one-half, .feature--two-quarters, .feature--three-sixths, .feature--four-eighths, .feature--five-tenths, .feature--six-twelfths { width: 50%; }
  /** Thirds */
  .feature--one-third, .feature--two-sixths, .feature--four-twelfths { width: 33.333%; }
  .feature--two-thirds, .feature--four-sixths, .feature--eight-twelfths { width: 66.666%; }
  /** Quarters */
  .feature--one-quarter, .feature--two-eighths, .feature--three-twelfths { width: 25%; }
  .feature--three-quarters, .feature--six-eighths, .feature--nine-twelfths { width: 75%; }
  /** Fifths */
  .feature--one-fifth, .feature--two-tenths { width: 20%; }
  .feature--two-fifths, .feature--four-tenths { width: 40%; }
  .feature--three-fifths, .feature--six-tenths { width: 60%; }
  .feature--four-fifths, .feature--eight-tenths { width: 80%; }
  /** Sixths */
  .feature--one-sixth, .feature--two-twelfths { width: 16.666%; }
  .feature--five-sixths, .feature--ten-twelfths { width: 83.333%; }
  /** Eighths */
  .feature--one-eighth { width: 12.5%; }
  .feature--three-eighths { width: 37.5%; }
  .feature--five-eighths { width: 62.5%; }
  .feature--seven-eighths { width: 87.5%; }
  /** Tenths */
  .feature--one-tenth { width: 10%; }
  .feature--three-tenths { width: 30%; }
  .feature--seven-tenths { width: 70%; }
  .feature--nine-tenths { width: 90%; }
  /** Twelfths */
  .feature--one-twelfth { width: 8.333%; }
  .feature--five-twelfths { width: 41.666%; }
  .feature--seven-twelfths { width: 58.333%; }
  .feature--eleven-twelfths { width: 91.666%; } }
@media only screen and (min-width: 481px) and (max-width: 1023px) { /** Whole */
  .lap--one-whole { width: 100%; }
  /** Halves */
  .lap--one-half, .lap--two-quarters, .lap--three-sixths, .lap--four-eighths, .lap--five-tenths, .lap--six-twelfths { width: 50%; }
  /** Thirds */
  .lap--one-third, .lap--two-sixths, .lap--four-twelfths { width: 33.333%; }
  .lap--two-thirds, .lap--four-sixths, .lap--eight-twelfths { width: 66.666%; }
  /** Quarters */
  .lap--one-quarter, .lap--two-eighths, .lap--three-twelfths { width: 25%; }
  .lap--three-quarters, .lap--six-eighths, .lap--nine-twelfths { width: 75%; }
  /** Fifths */
  .lap--one-fifth, .lap--two-tenths { width: 20%; }
  .lap--two-fifths, .lap--four-tenths { width: 40%; }
  .lap--three-fifths, .lap--six-tenths { width: 60%; }
  .lap--four-fifths, .lap--eight-tenths { width: 80%; }
  /** Sixths */
  .lap--one-sixth, .lap--two-twelfths { width: 16.666%; }
  .lap--five-sixths, .lap--ten-twelfths { width: 83.333%; }
  /** Eighths */
  .lap--one-eighth { width: 12.5%; }
  .lap--three-eighths { width: 37.5%; }
  .lap--five-eighths { width: 62.5%; }
  .lap--seven-eighths { width: 87.5%; }
  /** Tenths */
  .lap--one-tenth { width: 10%; }
  .lap--three-tenths { width: 30%; }
  .lap--seven-tenths { width: 70%; }
  .lap--nine-tenths { width: 90%; }
  /** Twelfths */
  .lap--one-twelfth { width: 8.333%; }
  .lap--five-twelfths { width: 41.666%; }
  .lap--seven-twelfths { width: 58.333%; }
  .lap--eleven-twelfths { width: 91.666%; } }
@media only screen and (max-width: 1023px) { /** Whole */
  .portable--one-whole { width: 100%; }
  /** Halves */
  .portable--one-half, .portable--two-quarters, .portable--three-sixths, .portable--four-eighths, .portable--five-tenths, .portable--six-twelfths { width: 50%; }
  /** Thirds */
  .portable--one-third, .portable--two-sixths, .portable--four-twelfths { width: 33.333%; }
  .portable--two-thirds, .portable--four-sixths, .portable--eight-twelfths { width: 66.666%; }
  /** Quarters */
  .portable--one-quarter, .portable--two-eighths, .portable--three-twelfths { width: 25%; }
  .portable--three-quarters, .portable--six-eighths, .portable--nine-twelfths { width: 75%; }
  /** Fifths */
  .portable--one-fifth, .portable--two-tenths { width: 20%; }
  .portable--two-fifths, .portable--four-tenths { width: 40%; }
  .portable--three-fifths, .portable--six-tenths { width: 60%; }
  .portable--four-fifths, .portable--eight-tenths { width: 80%; }
  /** Sixths */
  .portable--one-sixth, .portable--two-twelfths { width: 16.666%; }
  .portable--five-sixths, .portable--ten-twelfths { width: 83.333%; }
  /** Eighths */
  .portable--one-eighth { width: 12.5%; }
  .portable--three-eighths { width: 37.5%; }
  .portable--five-eighths { width: 62.5%; }
  .portable--seven-eighths { width: 87.5%; }
  /** Tenths */
  .portable--one-tenth { width: 10%; }
  .portable--three-tenths { width: 30%; }
  .portable--seven-tenths { width: 70%; }
  .portable--nine-tenths { width: 90%; }
  /** Twelfths */
  .portable--one-twelfth { width: 8.333%; }
  .portable--five-twelfths { width: 41.666%; }
  .portable--seven-twelfths { width: 58.333%; }
  .portable--eleven-twelfths { width: 91.666%; } }
@media only screen and (min-width: 1024px) { /** Whole */
  .desk--one-whole { width: 100%; }
  /** Halves */
  .desk--one-half, .desk--two-quarters, .desk--three-sixths, .desk--four-eighths, .desk--five-tenths, .desk--six-twelfths { width: 50%; }
  /** Thirds */
  .desk--one-third, .desk--two-sixths, .desk--four-twelfths { width: 33.333%; }
  .desk--two-thirds, .desk--four-sixths, .desk--eight-twelfths { width: 66.666%; }
  /** Quarters */
  .desk--one-quarter, .desk--two-eighths, .desk--three-twelfths { width: 25%; }
  .desk--three-quarters, .desk--six-eighths, .desk--nine-twelfths { width: 75%; }
  /** Fifths */
  .desk--one-fifth, .desk--two-tenths { width: 20%; }
  .desk--two-fifths, .desk--four-tenths { width: 40%; }
  .desk--three-fifths, .desk--six-tenths { width: 60%; }
  .desk--four-fifths, .desk--eight-tenths { width: 80%; }
  /** Sixths */
  .desk--one-sixth, .desk--two-twelfths { width: 16.666%; }
  .desk--five-sixths, .desk--ten-twelfths { width: 83.333%; }
  /** Eighths */
  .desk--one-eighth { width: 12.5%; }
  .desk--three-eighths { width: 37.5%; }
  .desk--five-eighths { width: 62.5%; }
  .desk--seven-eighths { width: 87.5%; }
  /** Tenths */
  .desk--one-tenth { width: 10%; }
  .desk--three-tenths { width: 30%; }
  .desk--seven-tenths { width: 70%; }
  .desk--nine-tenths { width: 90%; }
  /** Twelfths */
  .desk--one-twelfth { width: 8.333%; }
  .desk--five-twelfths { width: 41.666%; }
  .desk--seven-twelfths { width: 58.333%; }
  .desk--eleven-twelfths { width: 91.666%; } }
/*------------------------------------*\ $PUSH
\*------------------------------------*/
/** Push classes, to move grid items over to the right by certain amounts. */
/*------------------------------------*\ $PULL
\*------------------------------------*/
/** Pull classes, to move grid items back to the left by certain amounts. */
h1, h2, h3, h4, h5 { text-rendering: optimizelegibility; }

/* Variables */
* { box-sizing: border-box; }

.col { float: left; width: 340px; }

.col-1 { margin-top: 295px; }

.col-2 { margin-top: 147.5px; }

.col { margin-left: -82.5px; }
.col:first-child { margin-left: 0; }

.hex_row { width: 330px; height: 100%; display: inline-block; overflow: hidden; }

.text { position: absolute; top: 0; left: 0; right: 0; bottom: 0; text-align: center; height: 100%; width: 100%; }

.hex-spacer { height: 285px; margin: 10px auto; }

.spine { display: block; position: relative; background-position: center center; width: 165px; height: 285px; margin: 10px auto; cursor: pointer; z-index: 1; -webkit-transition: opacity .3s ease-in-out; transition: opacity .3s ease-in-out; }

.spine:after { content: ''; display: block; position: relative; background-position: center center; width: 165px; height: 285px; margin: 0 auto; cursor: pointer; z-index: -2; }

.hexagon:hover { color: #fff; text-shadow: 0 0 10px white; }

.spine .face1, .spine .face2, .spine .face3 { position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden; background: inherit; z-index: -1; /* Keeps borders smooth in webkit */ -webkit-backface-visibility: hidden; backface-visibility: hidden; }

.spine .face1:before, .spine .face2:before, .spine .face3:before, .spine .face1:after, .spine .face2:after, .spine .face3:after { content: ''; position: absolute; width: 330px; height: 330px; background: inherit; }

.spine .face1 { -webkit-transform: rotate(60deg); -ms-transform: rotate(60deg); transform: rotate(60deg); }

.spine .face1:before, .spine .face1:after { left: 0; -webkit-transform-origin: left top; -ms-transform-origin: left top; transform-origin: left top; -webkit-transform: rotate(-60deg) translate(-247.5px, -22.5px); -ms-transform: rotate(-60deg) translate(-247.5px, -22.5px); transform: rotate(-60deg) translate(-247.5px, -22.5px); }

.spine .face2 { -webkit-transform: rotate(-60deg); -ms-transform: rotate(-60deg); transform: rotate(-60deg); }

.spine .face2:before, .spine .face2:after { right: 0; -webkit-transform-origin: right top; -ms-transform-origin: right top; transform-origin: right top; -webkit-transform: rotate(60deg) translate(247.5px, -22.5px); -ms-transform: rotate(60deg) translate(247.5px, -22.5px); transform: rotate(60deg) translate(247.5px, -22.5px); }

.spine:after, .spine .face1:after, .spine .face2:after { opacity: 0; background-image: url("/assets/images/hover6.png"); }
.spine:not(.spine--intro):not(.spine--slide):hover:after, .spine:not(.spine--intro):not(.spine--slide):hover .face1:after, .spine:not(.spine--intro):not(.spine--slide):hover .face2:after { opacity: 1; }

.text-wrapper { position: relative; top: 0; display: table-cell; width: 100%; overflow: auto; margin: auto; vertical-align: middle; -webkit-transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1); transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1); }

.spine.spine--init { opacity: 0; }

.spine.spine--init-text .text-wrapper { opacity: 0; }
.spine.spine--init-text.spine--text .text-wrapper { top: 80px; }
.spine.project-list--intro .text-wrapper { top: inherit; }

.spine.spine--image .text-wrapper { top: 80px; opacity: 0; -webkit-transition: all 1s cubic-bezier(0.4, 0, 0.2, 1); transition: all 1s cubic-bezier(0.4, 0, 0.2, 1); }
.spine.spine--image:hover .text-wrapper, .spine.spine--image.hover-active .text-wrapper { top: 0; opacity: 1; -webkit-transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1); transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1); }

.spine--slide { background-color: #000; }

.hex-logo-slide { position: absolute; width: 120px; height: 120px; top: 50%; margin-top: -60px; left: 50%; margin-left: -60px; overflow: hidden; }
.hex-logo-slide img { display: block; width: 100%; }

.preload-wrapper { position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: -1; opacity: 0; background: #131313; -webkit-transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1); transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1); visibility: hidden; }
.preload-wrapper.active { z-index: 100; opacity: 1; visibility: visible; }

.preload-spinner { position: absolute; display: block; display: none; top: 50%; left: 50%; margin-left: -38.75px; margin-top: -100px; height: 75px; width: 77.5px; background: #fff; -webkit-mask-image: url(/assets/images/svg/hexagon.svg); mask-image: url(/assets/images/svg/hexagon.svg); -webkit-mask-repeat: no-repeat; mask-repeat: no-repeat; -webkit-mask-position: center; mask-position: center; -webkit-mask-size: 100%; mask-size: 100%; -webkit-animation-delay: .5s; animation-delay: .5s; -webkit-animation-duration: .5s; animation-duration: .5s; -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; -webkit-animation-fill-mode: both; animation-fill-mode: both; -webkit-animation-name: pulse; animation-name: pulse; -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1); animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }

.preload-bar { position: absolute; width: 350px; height: 115px; top: 50%; left: 50%; margin-top: -57.5px; margin-left: -175px; background: #222; -webkit-mask-image: url(/assets/images/svg/supremo.svg); mask-image: url(/assets/images/svg/supremo.svg); -webkit-mask-repeat: no-repeat; mask-repeat: no-repeat; -webkit-mask-position: center center; mask-position: center center; -webkit-mask-size: 100%; mask-size: 100%; -webkit-animation-delay: .3s; animation-delay: .3s; -webkit-animation-duration: .3s; animation-duration: .3s; -webkit-animation-fill-mode: both; animation-fill-mode: both; -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1); animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }

.active .preload-bar { -webkit-animation-name: fadeInUp; animation-name: fadeInUp; }

.preload-bar__mercury { position: absolute; top: 100%; background: white; height: 100%; width: 100%; -webkit-animation-delay: .5s; animation-delay: .5s; -webkit-animation-duration: 1.4s; animation-duration: 1.4s; -webkit-animation-fill-mode: both; animation-fill-mode: both; -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1); animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }

.active .preload-bar__mercury { -webkit-animation-name: slideUp; animation-name: slideUp; }

@-webkit-keyframes slideUp { 0% { top: 100%; }
  100% { top: 0; } }

@keyframes slideUp { 0% { top: 100%; }
  100% { top: 0; } }
.complete .preload-bar__mercury { top: 0; }

.socket { width: 200px; height: 200px; position: absolute; left: 50%; margin-left: -100px; top: 50%; margin-top: -80px; }

.active .hex-brick { -webkit-animation-name: fade; animation-name: fade; }
.active .center-gel { -webkit-animation-name: pulse; animation-name: pulse; }

.hex-brick { background: #74b84b; width: 30px; height: 17px; position: absolute; top: 5px; -webkit-animation-duration: 2s; animation-duration: 2s; -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; }

.h2 { -webkit-transform: rotate(60deg); -ms-transform: rotate(60deg); transform: rotate(60deg); }

.h3 { -webkit-transform: rotate(-60deg); -ms-transform: rotate(-60deg); transform: rotate(-60deg); }

.gel { height: 30px; width: 30px; -webkit-transition: all .3s; transition: all .3s; position: absolute; top: 50%; left: 50%; }

.center-gel { margin-left: -15px; margin-top: -15px; -webkit-animation-duration: 2s; animation-duration: 2s; -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; }

.c1 { margin-left: -47px; margin-top: -15px; }

.c2 { margin-left: -31px; margin-top: -43px; }

.c3 { margin-left: 1px; margin-top: -43px; }

.c4 { margin-left: 17px; margin-top: -15px; }

.c5 { margin-left: -31px; margin-top: 13px; }

.c6 { margin-left: 1px; margin-top: 13px; }

.c7 { margin-left: -63px; margin-top: -43px; }

.c8 { margin-left: 33px; margin-top: -43px; }

.c9 { margin-left: -15px; margin-top: 41px; }

.c10 { margin-left: -63px; margin-top: 13px; }

.c11 { margin-left: 33px; margin-top: 13px; }

.c12 { margin-left: -15px; margin-top: -71px; }

.c13 { margin-left: -47px; margin-top: -71px; }

.c14 { margin-left: 17px; margin-top: -71px; }

.c15 { margin-left: -47px; margin-top: 41px; }

.c16 { margin-left: 17px; margin-top: 41px; }

.c17 { margin-left: -79px; margin-top: -15px; }

.c18 { margin-left: 49px; margin-top: -15px; }

.c19 { margin-left: -63px; margin-top: -99px; }

.c20 { margin-left: 33px; margin-top: -99px; }

.c21 { margin-left: 1px; margin-top: -99px; }

.c22 { margin-left: -31px; margin-top: -99px; }

.c23 { margin-left: -63px; margin-top: 69px; }

.c24 { margin-left: 33px; margin-top: 69px; }

.c25 { margin-left: 1px; margin-top: 69px; }

.c26 { margin-left: -31px; margin-top: 69px; }

.c27 { margin-left: -79px; margin-top: -15px; }

.c28 { margin-left: -95px; margin-top: -43px; }

.c29 { margin-left: -95px; margin-top: 13px; }

.c30 { margin-left: 49px; margin-top: 41px; }

.c31 { margin-left: -79px; margin-top: -71px; }

.c32 { margin-left: -111px; margin-top: -15px; }

.c33 { margin-left: 65px; margin-top: -43px; }

.c34 { margin-left: 65px; margin-top: 13px; }

.c35 { margin-left: -79px; margin-top: 41px; }

.c36 { margin-left: 49px; margin-top: -71px; }

.c37 { margin-left: 81px; margin-top: -15px; }

.active .r1 { -webkit-animation-name: pulse; animation-name: pulse; -webkit-animation-duration: 2s; animation-duration: 2s; -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; -webkit-animation-delay: .2s; animation-delay: .2s; }
.active .r2 { -webkit-animation-name: pulse; animation-name: pulse; -webkit-animation-duration: 2s; animation-duration: 2s; -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; -webkit-animation-delay: .4s; animation-delay: .4s; }
.active .r3 { -webkit-animation-name: pulse; animation-name: pulse; -webkit-animation-duration: 2s; animation-duration: 2s; -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; -webkit-animation-delay: .6s; animation-delay: .6s; }
.active .r1 > .hex-brick { -webkit-animation-name: fade; animation-name: fade; -webkit-animation-duration: 2s; animation-duration: 2s; -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; -webkit-animation-delay: .2s; animation-delay: .2s; }
.active .r2 > .hex-brick { -webkit-animation-name: fade; animation-name: fade; -webkit-animation-duration: 2s; animation-duration: 2s; -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; -webkit-animation-delay: .4s; animation-delay: .4s; }
.active .r3 > .hex-brick { -webkit-animation-name: fade; animation-name: fade; -webkit-animation-duration: 2s; animation-duration: 2s; -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; -webkit-animation-delay: .6s; animation-delay: .6s; }

@keyframes pulse { 0% { -webkit-transform: scale(1); transform: scale(1); }
  50% { -webkit-transform: scale(0.01); transform: scale(0.01); }
  100% { -webkit-transform: scale(1); transform: scale(1); } }
@keyframes fade { 0% { background: #74b84b; }
  50% { background: #90bf90; }
  100% { background: #74b84b; } }
@-webkit-keyframes pulse { 0% { -webkit-transform: scale(1); transform: scale(1); }
  50% { -webkit-transform: scale(0.01); transform: scale(0.01); }
  100% { -webkit-transform: scale(1); transform: scale(1); } }
@-webkit-keyframes fade { 0% { background: #74b84b; }
  50% { background: #38a63d; }
  100% { background: #74b84b; } }
body { background-image: url(/assets/images/bg-repeat.jpg); background-color: #333; font-family: 'Montserrat', sans-serif; line-height: 1.5; -webkit-font-smoothing: antialiased; }

.header { position: fixed; top: 0; left: 0; right: 0; height: 95px; background: black; z-index: 150; box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); }
.header, .header a { color: white; }

.header__nav { list-style: none; position: absolute; right: 20px; top: 20px; text-transform: uppercase; }

.header__nav__item { float: left; margin-left: 40px; }
.header__nav__item:first-child { margin-left: 0; }
.header__nav__item a { position: relative; text-decoration: none; font-weight: 700; padding-bottom: 6px; }
.header__nav__item a:after { position: absolute; bottom: -3px; left: 0; content: ''; width: 0; height: 3px; background: #74b84b; -webkit-transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1); transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1); }
.header__nav__item a.active:after, .header__nav__item a:hover:after { width: 100%; }

.header .branding { position: absolute; top: 20px; left: 20px; }

.branding a { display: block; background: url("/assets/images/header_logo.png"); width: 152px; height: 50px; text-indent: 100%; white-space: nowrap; overflow: hidden; }

.footer { position: relative; background-color: black; overflow: hidden; font-size: 12px; padding-top: 50px; min-height: 300px; }
.footer .wrapper { max-width: 900px; }
.footer, .footer a { color: #bdbdbd; }
.footer ul { list-style: none; }
.footer .branding { display: none; position: absolute; right: 40px; top: 50px; }
.footer .branding a { background: url("/assets/images/footer_logo.png"); width: 182px; height: 59px; }
@media screen and (min-width: 1040px) { .footer .branding { display: block; } }

.page--home { box-shadow: inset -30px 0px 50px -7px rgba(0, 0, 0, 0.5); }
.page--home .page-body { overflow: hidden; }

.project-list { cursor: -webkit-grab; padding-top: 120px; padding-bottom: 30px; overflow: hidden; -webkit-transform: perspective(600px) rotateY(0deg); transform: perspective(600px) rotateY(0deg); -webkit-transition: -webkit-transform 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94); transition: transform 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
.project-list:active { cursor: -webkit-grabbing; }

.full-width-wrapper { -webkit-transition: all 1s cubic-bezier(0.4, 0, 0.2, 1); transition: all 1s cubic-bezier(0.4, 0, 0.2, 1); }

.full-width-wrapper.init { -webkit-transform: perspective(2000px) translateY(0px) translateX(100px) translateZ(-100px) rotateY(15deg); transform: perspective(2000px) translateY(0px) translateX(100px) translateZ(-100px) rotateY(15deg); }

.text { display: table; overflow: hidden; }

.text__title { margin-bottom: 16px; width: 100%; }

.text__copy { font-size: 12px; color: #74b84b; width: 100%; -webkit-transition: color .3s linear; transition: color .3s linear; }

.text__title { font-weight: bold; }

.project-list--intro { background-color: #74b84b; }
.project-list--intro, .project-list--intro .text__copy { color: white; }
.project-list--intro, .project-list--intro * { background-image: none !important; }
.project-list--intro .text { width: 340px; margin-left: -50%; padding-top: 0; }
.project-list--intro .text__copy { font-size: 14px; line-height: 1.4; margin-bottom: 14px; }

.project-list--text { background-color: black; color: white; }

.project-list--image .text { color: white; z-index: 5; }

.project-list--image:hover .text__copy, .project-list--text:hover .text__copy { color: #bababa; }

.project-list--image:hover .text { opacity: 1; }

.icon-chevron { display: none; }

.project-list--text .icon-chevron, .project-list--image .icon-chevron { display: inline-block; height: 10px; width: 6px; background-color: #74b84b; -webkit-mask-image: url("/assets/images/svg/right-arrow-icon.svg"); mask-image: url("/assets/images/svg/right-arrow-icon.svg"); -webkit-mask-repeat: no-repeat; mask-repeat: no-repeat; -webkit-mask-position: center; mask-position: center; -webkit-mask-size: 100%; mask-size: 100%; -webkit-transition: background .3s linear; transition: background .3s linear; }
.project-list--text:hover .icon-chevron, .project-list--image:hover .icon-chevron { background-color: #bababa; }

.hover-grid { overflow: hidden; background-image: url("/assets/images/underneath_box-bg.jpg"); }
.hover-grid .grid__item { padding: 0; padding-top: 1px; padding-left: 1px; }
.hover-grid .grid:first-child .grid__item { padding-top: 0; }
.hover-grid .grid__item:first-child { padding-left: 0; }

.hover-square { background-image: url("/assets/images/box-bg.jpg"); }

.hover-square__icon { position: relative; display: block; margin: 0 auto; height: 150px; width: 155px; background: #494949; -webkit-mask-image: url(/assets/images/svg/hexagon.svg); mask-image: url(/assets/images/svg/hexagon.svg); -webkit-mask-repeat: no-repeat; mask-repeat: no-repeat; -webkit-mask-position: center; mask-position: center; -webkit-mask-size: 100%; mask-size: 100%; -webkit-transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94); transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
.hover-square__icon:after { display: block; content: ''; width: 100%; height: 100%; -webkit-mask-repeat: no-repeat; mask-repeat: no-repeat; -webkit-mask-position: center; mask-position: center; -webkit-mask-size: 50% 50%; mask-size: 50% 50%; background-color: #6d6d6d; }

.hover-square__icon--design:after { -webkit-mask-image: url(/assets/images/svg/design-icon.svg); mask-image: url(/assets/images/svg/design-icon.svg); }

.hover-square__icon--labs:after { -webkit-mask-image: url(/assets/images/svg/web-development-icon.svg); mask-image: url(/assets/images/svg/web-development-icon.svg); }

.hover-square__icon--branding:after { -webkit-mask-image: url(/assets/images/svg/branding-icon.svg); mask-image: url(/assets/images/svg/branding-icon.svg); }

.hover-square__icon--mobile:after { -webkit-mask-image: url(/assets/images/svg/mobile-icon.svg); mask-image: url(/assets/images/svg/mobile-icon.svg); }

.hover-square__icon--video:after { -webkit-mask-image: url(/assets/images/svg/motion-video-icon.svg); mask-image: url(/assets/images/svg/motion-video-icon.svg); }

.hover-square__icon--illustration:after { -webkit-mask-image: url(/assets/images/svg/illustration-icon.svg); mask-image: url(/assets/images/svg/illustration-icon.svg); }

.hover-square__title { font-size: 20px; text-transform: uppercase; }

.hover-square__copy { color: #a5a5a5; font-size: 15px; }

.hover-square { overflow: hidden; text-align: center; color: white; height: 500px; padding: 80px; }
.hover-square:hover { background: url("/assets/images/hover-state_box.jpg"); }
.hover-square:hover .hover-square__icon { background: white; }
.hover-square:hover .hover-square__icon:after { background: #373737; }
.hover-square:hover .hover-square__copy { color: white; }

.hover-square__body { position: relative; }

.hover-square__phase { position: absolute; top: 0; width: 100%; overflow: hidden; -webkit-transition: opacity .3s linear, visibility .6s linear; transition: opacity .3s linear, visibility .6s linear; }

.hover-square__phase2 { opacity: 0; visibility: hidden; }

.hover-square:hover .hover-square__icon { margin-top: -30px; }
.hover-square:hover .hover-square__phase1 { opacity: 0; visibility: hidden; }
.hover-square:hover .hover-square__phase2 { opacity: 1; visibility: visible; }
.hover-square:hover .hover-square__phase2 .hover-square__list li:first-child { opacity: 1; -webkit-transition-delay: .1s; transition-delay: .1s; top: 0; }
.hover-square:hover .hover-square__phase2 .hover-square__list li:nth-child(2) { opacity: 1; -webkit-transition-delay: .2s; transition-delay: .2s; top: 0; }
.hover-square:hover .hover-square__phase2 .hover-square__list li:nth-child(3) { opacity: 1; -webkit-transition-delay: .3s; transition-delay: .3s; top: 0; }

.hover-square__list { list-style: none; min-height: 200px; margin: 0; padding: 0; }
.hover-square__list li { position: relative; top: 48px; opacity: 0; -webkit-transition: 0.8s all cubic-bezier(0.4, 0, 0.2, 1); transition: 0.8s all cubic-bezier(0.4, 0, 0.2, 1); }

.hover-square__secondary-title { position: relative; margin: 23px 0; text-transform: uppercase; }
.hover-square__secondary-title:after, .hover-square__secondary-title:before { content: ''; display: block; height: 1px; background: white; width: 50%; position: absolute; top: 50%; z-index: 1; overflow: hidden; }
.hover-square__secondary-title:after { right: 0; margin-right: -50px; }
.hover-square__secondary-title:before { margin-left: -50px; }

.hover-square__list a { padding: 8px 0; display: block; background: rgba(53, 53, 53, 0.4); margin: 8px 0; color: white; text-decoration: none; border-radius: 5px; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); }

.testimonials { position: relative; overflow: hidden; height: 500px; clear: both; text-align: center; background-image: url("/assets/images/testimonials.jpg"); background-size: cover; color: #f6f6f6; padding: 120px 16px; }
.testimonials blockquote { display: block; padding: 0 32px; width: 100%; max-width: 950px; margin: 0 auto; position: relative; quotes: "\201C" "\201D" "\2018" "\2019"; font-size: 30px; font-family: 'Neuton', serif; font-style: italic; }
.testimonials blockquote p:before { font-size: 70px; content: open-quote; font-family: helvetica; font-style: normal; position: absolute; top: -15px; left: 0px; /* height: 45px; */ /* display: inline-block; */ /* line-height: 1px; */ color: #6f6f6f; }
.testimonials blockquote p:after { font-size: 70px; content: open-quote; font-family: helvetica; font-style: normal; position: absolute; /* top: 0; */ /* right: 0; */ /* height: 45px; */ /* display: inline-block; */ /* line-height: 1px; */ color: 6f6f6f; content: close-quote; bottom: 7px; margin-left: 12px; }
.testimonials footer { font-size: 14px; font-family: 'Montserrat', sans-serif; color: #b0b0b0; font-style: normal; font-weight: bold; }
.testimonials footer span { font-weight: normal; }

.contact-module { background: #74b84b; color: white; padding: 70px 0; overflow: hidden; font-size: 26px; font-weight: normal; }
.contact-module .wrapper { max-width: 900px; margin: 0 auto; padding: 0 16px; }

.button { margin-top: 16px; display: inline-block; border: 2px solid white; padding: 25px 45px; background: transparent; color: white; text-transform: uppercase; font-size: 14px; line-height: 1; vertical-align: middle; text-decoration: none; letter-spacing: 1px; -webkit-transition: all .3s ease-in-out; transition: all .3s ease-in-out; }
.button:hover { background: white; color: #131313; }
@media screen and (min-width: 1024px) { .button { margin-top: -15px; } }

.page-header-window { padding: 160px 16px; text-align: center; background-image: url("/assets/images/services_bg.jpg"); background-size: cover; font-size: 20px; }
.page-header-window .wrapper { max-width: 750px; margin: 0 auto; }
@media screen and (min-width: 1024px) { .page-header-window { height: 780px; } }
.page-header-window h1 { font-size: 72px; text-transform: uppercase; font-weight: bold; margin-bottom: 20px; -webkit-animation-duration: 2s; animation-duration: 2s; -webkit-animation-fill-mode: both; animation-fill-mode: both; }
.page-header-window p { color: white; font-size: 28px; line-height: 1.28; -webkit-animation-duration: 2s; animation-duration: 2s; -webkit-animation-fill-mode: both; animation-fill-mode: both; -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1); animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
.page-header-window p:last-child { height: 175px; -webkit-animation-duration: 2s; animation-duration: 2s; }
.page-header-window.active h1, .page-header-window.active p { -webkit-animation-name: fadeInUp; animation-name: fadeInUp; }

/* Slider */
.slick-slider { position: relative; display: block; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }

.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }

.slick-list:focus { outline: none; }

.slick-loading .slick-list { background: #fff url("http://cdn.jsdelivr.net/jquery.slick/1.3.15/ajax-loader.gif") center center no-repeat; }

.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-track { -webkit-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; left: 0; top: 0; display: block; }

.slick-track:before, .slick-track:after { content: ""; display: table; }

.slick-track:after { clear: both; }

.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }

[dir="rtl"] .slick-slide { float: right; }

.slick-slide img { display: block; }

.slick-slide.slick-loading img { display: none; }

.slick-slide.dragging img { pointer-events: none; }

.slick-initialized .slick-slide { display: block; }

.slick-loading .slick-slide { visibility: hidden; }

.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

/* Icons */
@font-face { font-family: "slick"; src: url("http://cdn.jsdelivr.net/jquery.slick/1.3.15/fonts/slick.eot"); src: url("http://cdn.jsdelivr.net/jquery.slick/1.3.15/fonts/slick.eot?#iefix") format("embedded-opentype"), url("http://cdn.jsdelivr.net/jquery.slick/1.3.15/fonts/slick.woff") format("woff"), url("http://cdn.jsdelivr.net/jquery.slick/1.3.15/fonts/slick.ttf") format("truetype"), url("http://cdn.jsdelivr.net/jquery.slick/1.3.15/fonts/slick.svg#slick") format("svg"); font-weight: normal; font-style: normal; }
/* Arrows */
.slick-prev, .slick-next { display: none; }

/* Dots */
.slick-slider { margin-bottom: 30px; }

.slick-dots { position: absolute; bottom: -45px; list-style: none; display: block; text-align: center; padding: 0; width: 100%; }

.slick-dots li { position: relative; display: inline-block; height: 20px; width: 20px; margin: 0 5px; padding: 0; cursor: pointer; }

.slick-dots li button { border: 0; background: transparent; display: block; height: 20px; width: 20px; outline: none; line-height: 0; font-size: 0; color: transparent; padding: 5px; cursor: pointer; }

.slick-dots li button:hover, .slick-dots li button:focus { outline: none; }

.slick-dots li button:hover:before, .slick-dots li button:focus:before { opacity: 1; }

.slick-dots li button:before { position: absolute; top: 0; left: 0; content: "•"; width: 20px; height: 20px; font-family: "slick"; font-size: 10px; line-height: 20px; text-align: center; color: #9f9f9f; /*opacity: 0.25;*/ -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.slick-dots li.slick-active button:before { color: #74b84b; opacity: 0.75; }

.headroom { -webkit-transition: -webkit-transform 200ms linear; transition: transform 200ms linear; }

.headroom--pinned { -webkit-transform: translateY(0%); -ms-transform: translateY(0%); transform: translateY(0%); }

.headroom--unpinned { -webkit-transform: translateY(-100%); -ms-transform: translateY(-100%); transform: translateY(-100%); }

.full-width-wrapper { width: 100%; }

.project-list { width: 3000px; }
