<header class="header">
  <div class="branding">
    <a href="/"></a>
  </div>

  <nav class="header__nav">
    <ul>
      <li class="header__nav__item"><a class="{{#is basename "index"}} active {{/is}}" href="/">Home</a></li>
      <li class="header__nav__item"><a href="/"></a></li>
      <li class="header__nav__item"><a href="/"></a></li>
      <li class="header__nav__item"><a href="/"></a></li>
      <li class="header__nav__item"><a href="/"></a></li>
    </ul>
  </nav>
</header>